{% extends "plantilla.html" %}

{% block titulo %} Zeus - Nosotros {% endblock %}

{% block contenido %} 
    <h1>NOSOTROS</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur culpa dolor ratione molestiae suscipit quaerat facere magni fugit, tenetur, in deleniti, dignissimos maiores illo fuga error deserunt totam voluptates labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, odit? Perferendis odit facilis eveniet beatae dolorem cupiditate at atque nisi distinctio? Aliquam facere, ipsum nostrum quia est incidunt culpa debitis?</p>
{% endblock %}

{% block seccion_1 %} 
    OK estas aquí - 🤣😂
{% endblock %}