{% extends "plantilla.html" %}

{% block titulo %} Zeus - EDITAR {% endblock %}

{% block contenido %} 
    <!-- bs5-card-head-foot -->
     <div class="card">
        <div class="card-header">Editar un Estudiante</div>
        <div class="card-body">
            <h4 class="card-title">Datos del Estudiante</h4>
            <p class="card-text">Por favor cambie lo que se le de...😂</p>
            {% include "estudiantes/formulario.html" %}
        </div>
        <div class="card-footer text-muted">Datos para Modificar estudiantes</div>
     </div>
     
    
{% endblock %}

{% block seccion_1 %} 
    OK CREANDO ESTUDIANTE - 😎🤣😂
{% endblock %}